<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <script type="text/javascript"></script>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A cool thing made with Glitch to randomly choose your lunch!"
    />

    <title>Choose my Lunch!</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Choose your lunch!</h1>
    </header>

    <main>
      <!--ADDRESS -->
      <center>
        <div id="addressSearch">
          <h2>Oh hi,</h2>
          <p>Let me pick out something for you for lunch :)</p>
          <form action="">
            <label>
              Address
              <input
                id="address"
                name="address"
                type="text"
                maxlength="100"
                placeholder="type your address here"
              />
              <label>
                Radius (in miles)
                <select id="radius" name="dropdown">
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                </select>
              </label>
            </label>
          </form>
          <button id="submit-location" onclick="search()">Search</button>
        </div>
        <!--ADDRESS -->

        <!--FILTER -->
        <div id="filter" style="display:none">
          <h2>Oh!</h2>
          <p>Just choose what categories you'd want!</p>
          <p>
            When you're done, press Choose for Me!
          </p>
          <p>To remove an option: Select in Chosen then Remove</p>
          <center>
            <form>
              <select id="list1" name="dropdown"> </select>
            </form>
            <center>
              <button id="addAll" onclick="addAll()">
                Add All
              </button>
              <button id="add" onclick="add()">Add</button>
              <button id="remove" onclick="remove()">Remove</button>
              <button id="removeAll" onclick="removeAll()">RemoveAll</button>
              <button id="choose" onclick="choose()">Choose for Me!</button>
            </center>
            <form>
              <label>
                Chosen
                <select id="list2" name="dropdown"> </select>
              </label>
            </form>
          </center>
        </div>
      </center>
      <!--ENDFILTER -->

      <!--FINAL VIEW-->
      <div id="final" style="display:none">
        <center>
          <h1>
            This is what I chose for you!
          </h1>
          <a id="yelpLink" href="URL" target="_blank"
            ><img id="pic" alt="Yikes."
          /></a>
          <p id="name">
            Name
          </p>
          <p id="restAddress">
            Address
          </p>
          <a
            id="googleLink"
            href="https://www.google.com/search?q="
            target="_blank"
            >Click here to see this on Google!</a
          >
        </center>
      </div>
      <!--END FINAL VIEW-->
    </main>
  </body>
</html>
